<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Portal</title>
  <meta content="TeamEleven" name="author">
  <meta content="DriveTogether" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true">
  <meta name="format-detection" content="telephone=no">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <link rel="stylesheet" href="../static/assets/css/uikit.min.css">
  <link rel="stylesheet" href="../static/assets/css/all.min.css">
  <link rel="stylesheet" href="../static/assets/css/datepicker.min.css">
  <link rel="stylesheet" href="../static/assets/css/main.css">
  <style>
    h3 p {
      color: white;
    }
    .image-section {
      background-image: url('/assets/img/img-banner.jpg');
      background-size: cover;
      height: 300px;
    }

  </style>
</head>
<body>
<header class="page-header">
  <div class="uk-container">
    <div class="page-header__inner">
      <div class="page-header__logo">
        <div class="logo"><a class="logo__link" th:href="@{/}"><img class="logo__img" src="/assets/img/black.png" alt="DriveTogether"></a></div>
      </div>
      <div class="page-header__menu">
        <nav class="page-nav" data-uk-navbar="">
          <nav class="uk-navbar-nav">
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a class="uk-button uk-button-danger" th:href="@{/}">Home</a></li>
                <li><a class="uk-button uk-button-danger" th:href="@{/admin}">Admin portal</a></li>
                <li><a class="uk-button uk-button-danger" th:href="@{/auth/logout}">Logout</a></li>
              </ul>
              </div>
          </nav>
          </nav>
      </div>
      </div>
      </div>
</header>
<div class="image-section"></div>
</div>
<section>

  <h2>Approved Users</h2>
  <table>
    <thead>
    <tr>
      <th class="black-text" >Username</th>
      <th class="black-text">FirstName</th>
      <th class="black-text">LastName</th>
      <th class="black-text">Email</th>
      <th class="black-text">Phone number</th>
      <th class="black-text">Registration Date</th>
      <th class="black-text">Profile Picture</th>
      <th class="black-text">Status</th>
      <th class="black-text">Driver</th>
      <th class="black-text">Blocked</th>
      <th class="black-text">Admin</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${approvedUsers}">
      <td> <a href="#" th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getUsername}">User</a></td>
      <td><div class="cellSingleUser" th:text="${user.getFirstName}">FirstName</div></td>
      <td><div class="cellSingleUser" th:text="${user.getLastName}">LastName</div></td>
      <td><div class="cellSingleUser" th:text="${user.getEmail}">Email</div></td>
      <td><div class="cellSingleUser" th:text="${user.getPhone_number()}">Phone number</div></td>
      <td><div class="cellSingleUser" th:text="${user.getRegistrationDate()}">Registration Date</div></td>
      <td><div class="cellSingleUser" th:text="${user.getProfilePic()}">Profile Picture</div></td>
      <td><div class="cellSingleUser" th:text="${user.getStatus()}">Status</div></td>
      <td><div class="cellSingleUser" th:text="${user.isDriver()}">Driver</div></td>
      <td>
        <form th:if="${not user.isAdmin()}">
          <form  class="buttons" th:action="@{/{id}/make-admin(id=${user.getId()})}" th:object="${user}" method="get">
            <button type="submit">Make Admin</button>
          </form>

        </form>
        <form th:if="${user.isAdmin()}">
          <form  class="buttons" th:action="@{/{id}/demote-admin(id=${user.getId()})}" th:object="${user}" method="get">
            <button type="submit">Demote Admin</button>
          </form>

        </form>
      </td>
      <td>
        <form th:if="${not user.isBlocked()}">
          <button type="submit" formaction="@{/{id}/block(id=${user.getId()})}" class="action-button" method="get">Block</button>
        </form>
        <form th:if="${user.isBlocked()}">
          <button type="submit" formaction="@{/{id}/unblock(id=${user.getId()})}" class="action-button" method="get">Unblock</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</section>
<footer>
  <p>Admin Portal</p>
</footer>
</body>
</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Approved users</title>
    <meta content="TeamEleven" name="author">
    <meta content="DriveTogether" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="/assets/css/uikit.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/datepicker.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <style>
        h3 p {
            color: white;
        }
        .page-header__phone {
            list-style-type: none;
        }
    </style>
</head>

<body class="page-home">

<div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>

<div class="page-wrapper">
    <header class="page-header">
        <div class="page-header__scroll" data-uk-sticky>
            <div class="uk-container">
                <div class="page-header__inner">
                    <div class="page-header__logo">
                        <div class="logo"><a class="logo__link" th:href="@{/}"><img class="logo__img" src="/assets/img/black.png" alt="DriveTogether"></a></div>
                    </div>
                    <li class="page-header__phone">
                        <a class="uk-button uk-button-danger"  th:href="@{/}">Home</a>
                        <a class="uk-button uk-button-danger"th:href="@{/admin}">Back to admin portal</a>
                        <a class="uk-button uk-button-danger"th:href="@{/auth/logout}">Logout</a>
                    </li>
                    <div class="page-header__btn">> <a class="uk-button uk-button-danger" href="#offcanvas" data-uk-toggle data-uk-icon="menu"></a></div>
                </div>
            </div>
        </div>
    </header>
    <main class="page-main">
        <div class="section-banner">
            <div class="section-banner__bg">
                <div class="uk-cover-container"><img src="/assets/img/img-banner.jpg" alt="img-banner" data-uk-cover><canvas></canvas></div>
            </div>
        </div>
        <section>

            <h2>Approved Users</h2>
            <table>
                <thead>
                <tr>
                    <th class="black-text" >Username</th>
                    <th class="black-text">FirstName</th>
                    <th class="black-text">LastName</th>
                    <th class="black-text">Email</th>
                    <th class="black-text">Phone number</th>
                    <th class="black-text">Registration Date</th>
                    <th class="black-text">Status</th>
                    <th class="black-text">Driver</th>
                    <th class="black-text">Blocked</th>
                    <th class="black-text">Admin</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${approvedUsers}">
                    <td> <a href="#" th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getUsername}">User</a></td>
                    <td><div class="cellSingleUser" th:text="${user.getFirstName}">FirstName</div></td>
                    <td><div class="cellSingleUser" th:text="${user.getLastName}">LastName</div></td>
                    <td><div class="cellSingleUser" th:text="${user.getEmail}">Email</div></td>
                    <td><div class="cellSingleUser" th:text="${user.getPhone_number()}">Phone number</div></td>
                    <td><div class="cellSingleUser" th:text="${user.getRegistrationDate()}">Registration Date</div></td>
                    <td><div class="cellSingleUser" th:text="${user.getStatus()}">Status</div></td>
                    <td><div class="cellSingleUser" th:text="${user.isDriver()}">Driver</div></td>
                    <td>
                        <form th:if="${not user.isAdmin()}">
                            <a  href="#" th:href="@{/users/{id}/make-admin(id=${user.getId()})}" th:object="${user}"
                                methods="get">MakeAdmin</a>
                        </form>
                        <form th:if="${user.isAdmin()}">
                            <a href="#" th:href="@{/users/{id}/demote-admin(id=${user.getId()})}" th:object="${user}"
                               methods="get">DemoteAdmin</a>
                        </form>
                    </td>
                    <td>
                        <form th:if="${not user.isBlocked()}">
                            <a href="#" th:href="@{/users/{id}/block(id=${user.getId()})}" th:object="${user}"
                               methods="get">Block</a>
                        </form>
                        <form th:if="${user.isBlocked()}">
                            <a  href="#" th:href="@{/users/{id}/unblock(id=${user.getId()})}" th:object="${user}"
                                methods="get">Unblock</a>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>
    <footer class="page-footer">
        <div class="uk-container">
            <div class="page-footer__inner">
                <div class="page-footer__logo">
                    <div class="logo"><a class="logo__link" th:href="@{/}"><img class="logo__img" src="/assets/img/white.png" alt="Drive Together"></a></div>
                </div>
                <div class="page-footer__text">
                    <!--<p>Eorem ipsum dolor sit amet consectetur adipisicing elit edolore magna<br> aliqua ut enim ad minim veniam quis aliquip consequat</p>-->
                    <h3><p>Let your unusual journey be a pleasure!</p></h3>
                </div>
                <div class="page-footer__social">
                </div>
                <div class="page-footer__copy"> <span><p>Admin Portal</p></span></div>
            </div>
        </div><!-- Additional blocks-->
    </footer>
</div>
<script src="/assets/js/jquery.min.js"></script>t
<script src="/assets/js/uikit.min.js"></script>
<script src="/assets/js/uikit-icons.min.js"></script>
<script src="/assets/js/datepicker.min.js"></script>
<script src="/assets/js/i18n/datepicker.en.js"></script>
<script src="/assets/js/main.js"></script>
</body>

</html>
