<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>No feedback</title>
  <meta content="TeamEleven" name="author">
  <meta content="DriveTogether" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true">
  <meta name="format-detection" content="telephone=no">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <link href="../static/assets/css/all.min.css" th:href="@{/assets/css/all.min.css}" rel="stylesheet">
  <link href="../static/assets/css/uikit.min.css" th:href="@{/assets/css/uikit.min.css}" rel="stylesheet">
  <link href="../static/assets/css/datepicker.min.css" th:href="@{/assets/css/datepicker.min.css}" rel="stylesheet">
  <link href="../static/assets/css/main.css" th:href="@{/assets/css/main.css}" rel="stylesheet">
  <link href="../static/assets/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
  <style>
    h3 p {
      color: white;
    }

    .page-header__phone {
      list-style-type: none;
    }

    h1 {
      font-weight: bold;
      color: orange;
    }
  </style>
</head>

<body>
<header class="page-header">
  <div class="page-header__scroll" data-uk-sticky>
    <div class="uk-container">
      <div class="page-header__inner">
        <div class="page-header__logo">
          <div class="logo"><a class="logo__link" th:href="@{/}"><img class="logo__img"
                                                                      src="/assets/img/black.png"
                                                                      alt="DriveTogether"></a></div>
        </div>
        <div class="page-header__menu">
          <nav class="page-nav" data-uk-navbar="">
            <ul class="uk-navbar-nav">
              <li><a th:if="${isAuthenticated}" th:href="@{/trips}"> <img src="/assets/img/search.svg"
                                                                          data-uk-svg alt="search">Show
                Trips</a></li>
              <li><a th:href="@{/about-us}"> <img src="/assets/img/news-paper.svg" data-uk-svg
                                                  alt="news-paper">About</a></li>
              <li><a th:href="@{/contact-us}"> <img src="/assets/img/help2.svg" data-uk-svg alt="help2">Contact
                Us</a></li>
            </ul>
          </nav>
        </div>

        <li class="page-header__phone">
          <a class="uk-button uk-button-danger" th:href="@{/}" style="margin-right: 10px;">Home</a>
          <a class="uk-button uk-button-danger" th:unless="${isAuthenticated}"
             th:href="@{/auth/login}">Login</a>
          <a class="uk-button uk-button-danger" th:if="${isAuthenticated}"
             th:href="@{/auth/logout}">Logout</a>
        </li>

        <div class="page-header__btn">> <a class="uk-button uk-button-danger" href="/#offcanvas" data-uk-toggle
                                           data-uk-icon="menu"></a></div>
      </div>
    </div>
  </div>
</header>
<div style="background-image: url('/assets/img/new-no-content.jpg'); background-size: cover; background-position: center; height: 100vh;">
<h1>Nothing here yet</h1>
</div>
</body>
</html>