<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trip</title>
</head>
<body>
<h1>Trip</h1>
<br>
<section>
    <span th:text="${trip.getCreator().firstName} + ' ' + ${travel.getCreator().lastName}">Driver </span>
    <img th:if="${travel.getCreator().getUserPicture()!= null}"
         th:src="${travel.getCreator().getUserPicture().getProfilePicture()}" width="80px">
    <img th:unless="${travel.getCreator().getUserPicture()!= null}" th:src="@{/images/default.jpg}" width="80px"/>
    <span>Start City:</span>
    <div class="cell" th:text="${travel.getStartCity().getCity()}">Start City</div>
    <br>
    <br>
    <span>End City:</span>
    <div class="cell" th:text="${travel.getEndCity().getCity()}">End City</div>
    <br>
    <br>
    <span>Duration Time:</span>
    <div class="cell" th:text="${travel.getDepartureTime()}">Duration Time</div>
    <br>
    <br>
    <span>Price per person:</span>
    <div class="cell" th:text="${travel.getPricePerPerson()}"><span>EUR</span>Price per person</div>
    <br>
    <br>
    <h3>Car photo:</h3>
    <img th:if="${travel.getCarDto().getPhotoCar() != null}" th:src="${travel.getCarDto().getPhotoCar().getPhotoUrl()}"
         width="80px"/>
    <img th:unless="${travel.getCarDto().getPhotoCar() != null}" th:src="@{/img/default_car.png}" width="800px"/>
    <br>
    <span>AirConditioning:</span>
    <div class="cell" th:text="${travel.getCarDto().isAirConditioning()? 'yes' : 'no'}"></div>
    <br>
    <span>Allowed smoking:</span>
    <div class="cell" th:text="${travel.getCarDto().isSmoking()? 'yes' : 'no'}"></div>
    <br>
    <span>Allowed drinks:</span>
    <div class="cell" th:text="${travel.getCarDto().isWithDrinks()? 'yes' : 'no'}"></div>
    <br>
    <span>Allowed food:</span>
    <div class="cell" th:text="${travel.getCarDto().isWithFood()? 'yes' : 'no'}"></div>
    <br>
    <span>Allowed pets:</span>
    <div class="cell" th:text="${travel.getCarDto().isWithPets() ? 'yes' : 'no'}"></div>
    <br>
    <br>
    <form th:action="@{/travels/{id}/markComplete(id=${travel.getId()})}"
          method="get" th:if="${isAuthenticated and #session.getAttribute('currentUser') == travel.getCreator().username}">
        <button type="submit">COMPLETE</button>
    </form>
    <br>
    <form th:action="@{/travels/{id}/deleteTravel(id=${travel.getId})}"
          method="get" th:if="${isAuthenticated and #session.getAttribute('currentUser') == travel.getCreator().username}">
        <button type="submit">DELETE</button>
    </form>
    <br>
    <form th:action="@{/travels/{id}/apply(id=${travel.getId})}"
          method="get" th:unless="${isAuthenticated and #session.getAttribute('currentUser') == travel.getCreator().username}">>
        <button type="submit">APPLY</button>
    </form>
    <br>
    <form th:action="@{/travels/{id}/cancel-apply(id=${travel.getId})}"
          method="get" th:unless="${isAuthenticated and #session.getAttribute('currentUser') == travel.getCreator().username}">
        <button type="submit">CANCEL</button>
    </form>
    <div th:if="${travel.getCandidates().size()>0}">
<span class="cell1" th:each="candidates : ${travel.getCandidates()}">
    <span th:text="${candidates.firstName} + ' ' + ${candidates.lastName}"></span>

    <form th:action="@{/travels/{travelId}/accept-apply/{candidateId}(travelId=${travel.getId},candidateId =${candidates.getId()})}"
          method="get" th:if="${isAuthenticated and #session.getAttribute('currentUser') == travel.getCreator().username}">
        <button type="submit">ACCEPT</button>
    </form>
   </span>
    </div>
    <br>
    <br>
    <div th:if="${travel.getPassengers().size()>0}">
<span class="cell1" th:each="passengers : ${travel.getPassengers()}">
    <span th:text="${passengers.firstName} + ' ' + ${passengers.lastName}"></span>
    <form th:action="@{/travels/{travelId}/decline-apply/{passengerId}(travelId=${travel.getId},passengerId =${passengers.getId()})}"
          method="get" th:if="${isAuthenticated and #session.getAttribute('currentUser') == travel.getCreator().username}">

        <button type="submit">DECLINE</button>
    </form>

    </span>
    </div>

</section>
<button onclick="goToMyCars()">BACK</button>
<script>
    function goToMyCars() {
        window.location.href = '/travels';
    }
</script>
</body>
</html>