<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <meta content="TeamEleven" name="author">
    <meta content="DriveTogether" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="stylesheet" href="/assets/css/uikit.min.css">
    <link rel="stylesheet" href="/assets/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/datepicker.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Home page</title>
    <meta content="TeamEleven" name="author">
    <meta content="DriveTogether" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link href="../static/assets/css/all.min.css" th:href="@{/assets/css/all.min.css}" rel="stylesheet" >
    <link href="../static/assets/css/uikit.min.css" th:href="@{/assets/css/uikit.min.css}" rel= "stylesheet">
    <link href="../static/assets/css/datepicker.min.css" th:href="@{/assets/css/datepicker.min.css}" rel="stylesheet" >
    <link href="../static/assets/css/main.css" th:href="@{/assets/css/main.css}" rel="stylesheet">
    <style>
        h3 p {
            color: white;
        }
        .page-header__phone {
            list-style-type: none;
        }
    </style>
</head>

<body class="page-home">

<div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>

<div class="page-wrapper">
    <header class="page-header">
        <div class="page-header__scroll" data-uk-sticky>
            <div class="uk-container">
                <div class="page-header__inner">
                    <div class="page-header__logo">
                        <div class="logo"><a class="logo__link" th:href="@{/}"><img class="logo__img" src="/assets/img/black.png" alt="DriveTogether"></a></div>
                    </div>
                    <div class="page-header__menu">
                        <nav class="page-nav" data-uk-navbar="">
                            <ul class="uk-navbar-nav">
                                <li><a th:if="${isAuthenticated}" th:href="@{/trips}"> <img src="/assets/img/search.svg" data-uk-svg alt="search">Show Trips</a></li>
                                <li><a th:href="@{/about-us}"> <img src="/assets/img/news-paper.svg" data-uk-svg alt="news-paper">About</a></li>
                                <li><a th:href="@{/contact-us}"> <img src="/assets/img/help2.svg" data-uk-svg alt="help2">Contact Us</a></li>
                            </ul>
                        </nav>
                    </div>

                    <li class="page-header__phone"> <a class="uk-button uk-button-danger" th:unless="${isAuthenticated}" th:href="@{/auth/login}">Login</a></li>
                    <li class="page-header__phone"> <a class="uk-button uk-button-danger" th:if="${isAuthenticated}" th:href="@{/auth/login}">Profile</a></li>
                    <li class="page-header__phone"> <a class="uk-button uk-button-danger" th:if="${isAuthenticated}" th:href="@{/auth/logout}">Logout</a></li>

                    <div class="page-header__btn">> <a class="uk-button uk-button-danger" href="/#offcanvas" data-uk-toggle data-uk-icon="menu"></a></div>
                </div>
            </div>
        </div>
    </header>
    <main class="page-main">
        <div class="section-banner">
            <div class="section-banner__bg">
                <div class="uk-cover-container"><img src="/assets/img/img-banner.jpg" alt="img-banner" data-uk-cover><canvas></canvas></div>
            </div>
        </div>
        <section>
<div class="driver-card">
    <div class="driver-card__body">
        <div class="driver-card__user">
            <img th:src="@{/images/profile_pics/__${user.getProfilePic()}__}" alt="Profile Picture" style="width: 150px; height: 150px;">
        </div>
        <div class="about">Username:</div>
        <h2 class="text" th:text="${user.getUsername()}">Username</h2>
        <div class="about">Full name:</div>
        <h2 class="text" th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"></h2>
        <div class="about">Email:</div>
        <h2 class="text" th:text="${user.getEmail()}">Email</h2>
        <div class="about">Phone number:</div>
        <h2 class="text" th:text="${user.getPhone_number()}">Phone number</h2>
        <div class="about">Registration Date:</div>
        <h2 class="text" th:text="${user.getRegistrationDate()}">Registration date</h2>
    </div>
    </div>
        </section>
</main>
    <footer class="page-footer">
        <div class="uk-container">
            <div class="page-footer__inner">
                <div class="page-footer__logo">
                    <div class="logo"><a class="logo__link" th:href="@{/}"><img class="logo__img" src="/assets/img/white.png" alt="DriveTogether"></a></div>
                </div>
                <div class="page-footer__text">
                    <h3><p>Let your unusual journey be a pleasure!</p></h3>
                </div>
                <div class="page-footer__social">
                </div>
                <div class="page-footer__copy"> <span><p>User Profile</p></span></div>
            </div>
        </div>
    </footer>
    </div>
<script src="/assets/js/jquery.min.js"></script>t
<script src="/assets/js/uikit.min.js"></script>
<script src="/assets/js/uikit-icons.min.js"></script>
<script src="/assets/js/datepicker.min.js"></script>
<script src="/assets/js/i18n/datepicker.en.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>