<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta content="TeamEleven" name="author">
    <meta content="DriveTogether" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link href="../static/assets/css/all.min.css" th:href="@{/assets/css/all.min.css}" rel="stylesheet">
    <link href="../static/assets/css/uikit.min.css" th:href="@{/assets/css/uikit.min.css}" rel="stylesheet">
    <link href="../static/assets/css/datepicker.min.css" th:href="@{/assets/css/datepicker.min.css}" rel="stylesheet">
    <link href="../static/assets/css/main.css" th:href="@{/assets/css/main.css}" rel="stylesheet">
    <style>
        .user-input-box {
            margin-bottom: 20px;
        }

        .image-preview {
            display: none;
            margin-top: 10px;
        }

        .upload-btn {
            background-color: #3498db;
            color: white;
            padding: 5px 10px;
            border: none;
            cursor: pointer;
        }

        .upload-btn:hover {
            background-color: #2980b9;
        }

        h3 p {
            color: white;
        }

        .page-header__phone {
            list-style-type: none;
        }

        .user-input-box {
            position: relative;
            margin-bottom: 20px;
        }

        .error {
            color: white;
            position: absolute;
            top: 100%;
            left: 0;
        }

        .user-input-box label {
            color: white;
        }
    </style>
</head>
<body class="bg-gradient-primary">
<header class="page-header">
    <div class="page-header__scroll" data-uk-sticky>
        <div class="uk-container">
            <div class="page-header__inner">
                <div class="page-header__logo">
                    <div class="logo"><a class="logo__link" th:href="@{/}"><img class="logo__img"
                                                                                src="/assets/img/black.png"
                                                                                alt="DriveTogether"></a></div>
                </div>
                <div class="page-header__menu">
                    <nav class="page-nav" data-uk-navbar="">
                        <ul class="uk-navbar-nav">
                            <li><a th:href="@{/about-us}"> <img src="/assets/img/news-paper.svg" data-uk-svg
                                                                alt="news-paper">About</a></li>
                            <li><a th:href="@{/contact-us}"> <img src="/assets/img/help2.svg" data-uk-svg
                                                                  alt="help2">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>

                <li class="page-header__phone">
                    <a class="uk-button uk-button-danger" th:href="@{/}">Home</a>
                </li>

                <div class="page-header__btn">> <a class="uk-button uk-button-danger" href="/#offcanvas"
                                                   data-uk-toggle data-uk-icon="menu"></a></div>
            </div>
        </div>
    </div>
</header>
<div class="main">
    <div class="section-banner">
        <div class="section-banner__bg">
            <div class="uk-cover-container"><img src="/assets/img/img-banner.jpg" alt="img-banner"
                                                 style="width: 100%; height: auto;" data-uk-cover>
            </div>
            <div class="section-banner__content uk-text-center">
                <div class="uk-overlay uk-position-center-left uk-width-1-1">
                    <div class="section-banner__content uk-text-center">
                        <div class="uk-overlay uk-position-center-left uk-width-1-1">
                            <div class="uk-container uk-width-1-1">
                                <div class="section-banner__title">

                                    <div class="signup">
                                        <form action="#" th:action="@{/auth/register}" th:object="${register}"
                                              method="post" enctype="multipart/form-data">

                                            <div class="container">
                                                <h1 class="form-title">Registration</h1>
                                                <div class="main-user-info">
                                                    <div class="user-input-box">
                                                        <label for="Firstname">First Name</label>
                                                        <input type="text" id="Firstname" th:field="*{firstName}"
                                                               name="firstName" placeholder="Enter First Name"/>
                                                        <label class="error" th:errors="*{firstName}">First name error
                                                            placeholder</label>
                                                    </div>
                                                    <div class="user-input-box">
                                                        <label for="fullName">Last Name</label>
                                                        <input type="text"
                                                               id="fullName"
                                                               th:field="*{lastName}"
                                                               name="fullName"
                                                               placeholder="Enter Last Name"/>
                                                        <label class="error" th:errors="*{lastName}">Last name error
                                                            placeholder</label>
                                                    </div>
                                                    <div class="user-input-box">
                                                        <label for="username">Username</label>
                                                        <input type="text"
                                                               id="username"
                                                               th:field="*{username}"
                                                               name="username"
                                                               placeholder="Enter Username"/>
                                                        <label class="error" th:errors="*{username}">Username error
                                                            placeholder.</label>
                                                    </div>
                                                    <div class="user-input-box">
                                                        <label for="email">Email</label>
                                                        <input type="email"
                                                               id="email"
                                                               th:field="*{email}"
                                                               name="email"
                                                               placeholder="Enter Email"/>
                                                        <label class="error" th:errors="*{email}">Email error
                                                            placeholder</label>
                                                    </div>
                                                    <div class="user-input-box">
                                                        <label for="phoneNumber">Phone Number</label>
                                                        <input type="text"
                                                               id="phoneNumber"
                                                               th:field="*{phone_number}"
                                                               name="phoneNumber"
                                                               placeholder="Enter Phone Number"/>
                                                        <label class="error" th:errors="*{phone_number}">PhoneNumber
                                                            error placeholder</label>
                                                    </div>
                                                    <div class="user-input-box">
                                                        <label for="password">Password</label>
                                                        <input type="password"
                                                               id="password"
                                                               th:field="*{password}"
                                                               name="password"
                                                               placeholder="Enter Password"/>
                                                        <label class="error" th:errors="*{password}">Password error
                                                            placeholder.</label>
                                                    </div>
                                                    <div class="user-input-box">
                                                        <label>Are you a driver?</label>
                                                        <input type="radio" id="driverYes" name="isDriver" th:value="true"
                                                               th:checked="*{isDriver}" th:onclick="setDriver(true)" />
                                                        <label for="driverYes">Yes</label>
                                                        <input type="radio" id="driverNo" name="isDriver" th:value="false"
                                                               th:checked="*{!isDriver}" th:onclick="setDriver(false)" />
                                                        <label for="driverNo">No</label>
                                                    </div>
                                                    <div class="user-input-box">
                                                        <label for="profilePicture">Profile Picture</label>
                                                        <input type="file" id="profilePicture" name="profilePicture"
                                                               accept="image/*" style="display:none;"/>
                                                        <label class="upload-btn" for="profilePicture">Upload
                                                            Photo</label>
                                                        <div class="image-preview">
                                                            <img id="profileImagePreview"
                                                                 src="../static/images/profile.jpg"
                                                                 alt="Default Profile Image">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-submit-btn">
                                                    <input type="submit" value="Register">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const profilePictureInput = document.getElementById('profilePicture');
    const profileImagePreview = document.getElementById('profileImagePreview');

    profilePictureInput.addEventListener('change', (event) => {
        const selectedFile = event.target.files[0];
        if (selectedFile) {
            const objectURL = URL.createObjectURL(selectedFile);
            profileImagePreview.src = objectURL;
            profileImagePreview.style.display = 'block';
        }
    });

    function setDriver (isDriver) {
        if (isDriver) {
            driverYes.checked = true;
            driverNo.checked = false;
        } else {
            driverYes.checked = false;
            driverNo.checked = true;
        }
    }

</script>

</body>
</html>