<head>
  <title>Trips List</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.css"/>
  <link href="../static/assets/css/all.min.css" th:href="@{/assets/css/all.min.css}" rel="stylesheet">
  <link href="../static/assets/css/uikit.min.css" th:href="@{/assets/css/uikit.min.css}" rel="stylesheet">
  <link href="../static/assets/css/datepicker.min.css" th:href="@{/assets/css/datepicker.min.css}" rel="stylesheet">
  <link href="../static/assets/css/main.css" th:href="@{/assets/css/main.css}" rel="stylesheet">

  <style>
    body {
      padding: 50px;
      font-family: Arial, sans-serif;
    }
    .table-hover tbody tr:hover {
      background-color: #e8f0fe;
    }

    h3 p {
      color: white;
    }

    .page-header__phone {
      list-style-type: none;
    }

    .user-input-box label {
      color: white;
    }
  </style>
</head>
<header class="page-header">
  <div class="page-header__scroll" data-uk-sticky>
    <div class="uk-container">
      <div class="page-header__inner">
        <div class="page-header__logo">
          <div class="logo"><a class="logo__link" th:href="@{/}"><img class="logo__img"
                                                                      src="/assets/img/black.png"
                                                                      alt="DriveTogether"></a></div>
        </div>
        <div class="page-header__menu">
          <nav class="page-nav" data-uk-navbar="">
            <ul class="uk-navbar-nav">
              <li><a th:if="${isAuthenticated}" th:href="@{/trips/new-trip}"> <img
                      src="/assets/img/search.svg"
                      data-uk-svg alt="search">Create
                Trip</a></li>
              <li><a th:href="@{/about-us}"> <img src="/assets/img/news-paper.svg" data-uk-svg
                                                  alt="news-paper">About</a></li>
              <li><a th:href="@{/contact-us}"> <img src="/assets/img/help2.svg" data-uk-svg
                                                    alt="help2">Contact Us</a></li>
            </ul>
          </nav>
        </div>

        <li class="page-header__phone">
          <a class="uk-button uk-button-danger" th:unless="${isAuthenticated}"
             th:href="@{/auth/login}">Login</a>
          <a class="uk-button uk-button-danger" th:if="${isAuthenticated}"
             th:href="@{/my-profile}">Profile</a>
          <a class="uk-button uk-button-danger" th:if="${isAuthenticated}"
             th:href="@{/auth/logout}">Logout</a></li>

        <div class="page-header__btn">> <a class="uk-button uk-button-danger" href="#offcanvas"
                                           data-uk-toggle data-uk-icon="menu"></a></div>
      </div>
    </div>
  </div>
</header>
<hr class="separator">
<div class="container">
  <h2 class="mb-4">Trips List</h2>
  <table id="tripsTable" class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Departure</th>
      <th>Price</th>
      <th>AvailableSeats</th>
      <th>Distance</th>
      <th>Duration</th>
      <th>Description</th>
      <!-- Add more columns if necessary -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="trip : ${userTrips}">
     <!--<a href="#" th:href="@{/trips/{id}(id=${trip.getTripId()})}"> --><td th:text="${trip.startLocation}"></td>
      <td th:text="${trip.endLocation}"></td>
      <td th:text="${trip.departureTime}"></td>
      <td th:text="${trip.costPerPerson}"></td>
      <td th:text="${trip.availableSeats}"></td>
      <td th:text="${trip.distance} + 'km'"></td>
      <td th:text="${trip.duration} + 'min'"></td>
      <td th:text="${trip.description}"></td> <!--<span th:text="${trip.startLocation()}"></span>--> </a>
    </tr>
    </tbody>
  </table>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.21/datatables.min.js"></script>

<script>
  $(document).ready(function() {
    $('#tripsTable').DataTable();
  });
</script>

<footer class="page-footer" style="position: fixed; left: 0; bottom: 0; width: 100%; z-index: 9999;">
  <div class="uk-container">
    <div class="page-footer__inner">
      <div class="page-footer__logo">
        <div class="logo"><a class="logo__link" th:href="@{/}"><img class="logo__img"
                                                                    src="/assets/img/white.png"
                                                                    alt="DriveTogether"></a></div>
      </div>
      <div class="page-footer__text">
        <h3><p>Let your unusual journey be a pleasure!</p></h3>
      </div>
      <div class="page-footer__social">
      </div>
      <div class="page-footer__copy"><span>(c) 2023 All rights reserved.</span></div>
    </div>
  </div>
</footer>